---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title:
    'impression+ | Comprehensive Digital Marketing Service with SEO-Optimized Websites, NFC Digital Business Cards, and AI-Powered Customer Support',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: '資料ダウンロード',
        href: '#',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: '詳細はこちら', href: '/services' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Impression+ Hero Image' }}
  >
    <Fragment slot="title">
      デジタルマーケティングツールを<br />1つのサービスで完結させる<br />
      <span class="text-accent dark:text-white highlight"> サブスクリプションサービス</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Impression+</span> は、ユーザーに合わせてホームページ、デジタル名刺、AIカスタマーサポートなど、デジタルマーケティングに必要なサービスを一括で提供するサービスです。
        常に忙しい中小企業の経営者や個人事業主の方、またはデジタルマーケティングに興味があるけれど何から始めたらいいかわからない方に最適です。
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="特徴"
    title="Impression+によって何が変わるか"
    subtitle="Impression+は、今までの<br /><strong>1/3のコストと時間</strong>でデジタルマーケティングを始めることができます。"
    items={[
      {
        title: 'Astro + Tailwind CSS の統合',
        description:
          '高い生産性、パフォーマンス、多用途性を提供する2つの優れたフレームワークをシームレスに統合したホームページ',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: '簡単にカスタム可能なコンポーネント',
        description:
          'Tailwind CSS で作成されたウィジェットは、マーケティング Web サイト、SaaS、ブログ、個人プロフィール、小規模ビジネスなど様々なシチュエーションに合わせてすぐに使用できます。',
        icon: 'tabler:components',
      },
      {
        title: 'SEO対策万全なホームページ',
        description:
          '驚異的なページ速度はオーガニック検索のランキングに影響を与え、ユーザー エクスペリエンス (UI/UX) を向上させ、検索上位表示率を高めます。',
        icon: 'tabler:rocket',
      },
      {
        title: '安価なデジタル名刺の提供',
        description:
          'NFCデジタル名刺は、名刺のデータをスマートフォンに保存し、名刺の交換をスムーズにします。一枚あたりの単価を抑えているので、従来の名刺のようにたくさんの顧客に配ることもできます。',
        icon: 'tabler:cards',
      },
      {
        title: 'AIカスタマーサポート',
        description:
          'AIチャットボットは、24時間365日対応可能なカスタマーサポートを提供します。ユーザーの質問に即座に回答し、問題解決をサポートします。',
        icon: 'tabler:robot',
      },
      {
        title: '様々なマーケティングツールの一括運用',
        description:
          '従来違う会社に依頼していたサービスを1つのサービスにまとめることで、簡単な情報の共有やシームレスなサービス提供を可能に。',
        icon: 'tabler:binary-tree',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="HPの作成・管理"
    title="軽量・高速なホームページ作成"
    items={[
      {
        title: 'これまでにない高いユーザビリティ',
        description: '軽量・高速なホームページにより閲覧者にストレスなく情報を提供できます。',
      },
      {
        title: '簡単にカスタマイズ可能なスタイリング',
        description: '4種類のテンプレートをさらにユーザーに向けてカスタマイズ！ユーザーに最適なデザインを提供します。',
      },
      {
        title: '強力なSEO対策',
        description: 'ホームページ作成にはSEOに特化したフレームワークを使用。検索エンジンの上位表示率は業界トップクラスです。',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">最新技術を駆使した基盤構築</h3>
      業界をリードするプラクティスを取り入れることで、競争優位性を獲得しましょう。
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    tagline="デジタル名刺制作"
    title="何度も使えるスマート名刺提供"
    items={[
      {
        title: '高いカスタマイズ性',
        description: `テンプレートを簡単に調整して、ブランドのアイデンティティと要件に合わせることができ、デジタル名刺を独自のものにし、時間を節約します。`,
      },
      {
        title: '即時の情報更新',
        description: '名刺情報をリアルタイムで更新できるため、常に最新の情報を提供できます。',
      },
      {
        title: '環境に優しい',
        description: '紙の名刺を使用せず、デジタルで情報を共有することで環境負荷を軽減します。',
      },
      {
        title: '簡単な情報共有',
        description: 'スマートフォンをかざすだけで名刺情報を簡単に共有でき、迅速かつ便利です。',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">あなたのブランドを効果的に表現するデジタル名刺を提供します。</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    tagline="AIチャットボットの実装"
    title="AIを活用した機会損失を減らすカスタマーサポート"
    items={[
      {
        title: 'ユーザーエンゲージメントの向上',
        description: 'AIチャットボットが顧客とのインタラクションを向上させ、迅速かつ正確な対応を提供します。',
      },
      {
        title: '24時間365日のカスタマーサポート',
        description: 'チャットボットは24時間365日稼働し、顧客の問い合わせにいつでも対応します。',
      },
      {
        title: 'コスト削減',
        description: 'AIを活用することで、人件費を削減し、効率的なカスタマーサポートを実現します。',
      },
      {
        title: 'データ収集と分析',
        description:
          'チャットボットを通じて得られる顧客データを活用し、サービスの改善やマーケティング戦略の最適化に役立てます。',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">成長と成功を促進するAIチャットボットソリューションを提供します。</Fragment>
  </Content>

  <Fragment slot="content">Designed to foster growth and success.</Fragment>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Impression+で夢のウェブサイトをすぐに実現しましょう。"
    items={[
      {
        title: 'ステップ 1: <span class="font-medium">お問い合わせ</span>',
        description: 'まずはお問い合わせフォームからご連絡ください。あなたのニーズや目標についてお伺いします。',
        icon: 'tabler:message',
      },
      {
        title: 'ステップ 2: <span class="font-medium">AIを使ったヒアリング</span>',
        description:
          '最新のAI技術を活用し、詳細なヒアリングを行います。これにより、あなたのビジネスに最適なソリューションを提案することができます。',
        icon: 'tabler:robot',
      },
      {
        title: 'ステップ 3: <span class="font-medium">プランの決定</span>',
        description:
          'ヒアリング結果をもとに、最適なプランを決定します。デザイン、機能、コンテンツの全てをカスタマイズし、詳細な計画を立てます。',
        icon: 'tabler:clipboard-check',
      },
      {
        title: 'ステップ 4: <span class="font-medium">お渡し（1ヶ月後）</span>',
        description: '最終的なウェブサイトを1ヶ月以内にお渡しします。完成したウェブサイトは、すぐに運用開始できます。',
        icon: 'tabler:calendar',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="ホームページでよく使われるウィジェット"
    subtitle="Tailwind CSSを使用して<br />ウェブサイトを構築するための頻繁に使用されるコンポーネントを提供します"
    tagline="コンポーネント"
    items={[
      {
        title: 'ヘッダー',
        description:
          'ウェブサイトのナビゲーションを提供し、訪問者が簡単にサイト内を移動できるようにする重要な部分です。',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'ヒーロー',
        description:
          'ウェブサイトの第一印象を決定づけるセクションで、訪問者の注目を引くための魅力的なビジュアルとメッセージを表示します。',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: '特徴',
        description: '企業やサービスの主要な特徴や強みを強調し、訪問者にアピールします。',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'コンテンツ',
        description: 'サイトの中心的な情報やメッセージを伝える部分で、訪問者に価値のある情報を提供します。',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'コールトゥアクション',
        description:
          '訪問者に特定の行動を促すための要素で、例えば「今すぐ購入」や「お問い合わせ」といったボタンがあります。',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: '価格設定',
        description: '提供する製品やサービスの価格情報をわかりやすく表示し、訪問者が購入を検討しやすくします。',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: '推薦',
        description: '顧客の声や評価を紹介するセクションで、他の訪問者に信頼感を与えます。',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: '連絡先',
        description: '訪問者が簡単に連絡を取ることができるように、電話番号やメールアドレス、連絡フォームを提供します。',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'フッター',
        description: 'ウェブサイトの最後に位置し、追加のナビゲーションリンクや重要な情報を提供します。',
        icon: 'flat-color-icons:database',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="ブログでさらに多くのコンテンツを見つけよう"
    information={`このブログはAstroWindのドキュメントを表示するために使用されます。
                        各新しい記事は、Astro + Tailwind CSSを使用してウェブサイトを作成するエキスパートになるために知っておくべき重要なステップです。
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="よくある質問"
    subtitle="Impression+が提供する強力なシステムについての洞察を得るために、よくある質問をまとめました。あなたのウェブマーケティングがどのように向上するかを想像してみてください。"
    tagline="FAQ"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Impression+サービスとは何ですか？',
        description:
          'Impression+は、中小企業向けにホームページ作成・管理、スマート名刺の提供、WebARを使ったPRページの作成を行うサービスです。これにより、企業のインターネットプレゼンスを向上させ、初対面の印象を強化することができます。',
      },
      {
        title: 'Impression+のターゲット顧客は誰ですか？',
        description:
          '主にインターネットが得意ではない中小企業の代表者をターゲットとしています。簡単に使えるツールと専門的なサポートを提供し、オンラインプレゼンスを向上させるお手伝いをします。',
      },
      {
        title: 'Impression+が提供するホームページはどのような特徴がありますか？',
        description:
          'Impression+では、AstroとFirebaseを活用したSEOに強い、表示速度の速いホームページを提供します。これにより、検索エンジンの結果で上位に表示されやすくなり、訪問者にストレスなく閲覧していただけます。',
      },
      {
        title: 'スマート名刺とは何ですか？',
        description:
          'スマート名刺は、NFC技術を活用したデジタル名刺です。スマートフォンをかざすだけで、名刺情報を簡単に共有でき、紙の名刺よりも環境に優しく、最新の情報に即時更新することができます。',
      },
      {
        title: 'WebARを使ったPRページとは何ですか？',
        description:
          'WebARを使ったPRページでは、拡張現実技術を利用して製品やサービスを視覚的に魅力的に紹介します。これにより、訪問者にインタラクティブな体験を提供し、より強い印象を与えることができます。',
      },
      {
        title: 'Impression+のサポート体制について教えてください。',
        description:
          'Impression+では、サービス提供後のサポートも充実しています。納品後1年間は無料でリカバリーや代替サービスを提供し、技術的な問題が発生した場合でも迅速に対応いたします。また、必要に応じて専門家やパートナー企業と連携し、運用や保守のサポートも行います',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'AIチャットに問い合わせる',
        href: 'https://miibo.jp/chat/8b17da34-3051-4645-ad93-1556b02c04cb18f83c6e2b3ea?name=Cloudia',
        target: '_blank',
        icon: 'tabler:robot',
      },
    ]}
  >
    <Fragment slot="title"> 興味を持っていただけましたか？ </Fragment>

    <Fragment slot="subtitle">
      現在Impression+はこちらのページか代理店を通じてしかお申し込みいただけません。まずはお気軽にお問い合わせください。
    </Fragment>
  </CallToAction>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Layout>
