---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="サービスの詳細"
    title="サービスを組み合わせて、<br />ユーザーに合わせたデジタルマーケティングツールを提供"
    subtitle="SEOに強いホームページを中心に、デジタル名刺、AIチャットボットをサブスクリプションで提供することで、今までにないシームレスなデジタルマーケティングツールを実現します。"
    actions={[{ variant: 'primary', target: '_blank', text: '料金はこちら', href: '/pricing' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="ホームページテンプレート"
    subtitle="4つのテンプレートからあなたのスタイルに合ったものをチョイス！"
    columns={4}
    items={[
      {
        title: 'toC向けトップページ',
        description:
          '個人の顧客がモバイルデバイスで見やすいよう、スクロールしながら見るように構成されたトップページです。離脱率を下げるため、1ページで最低限必要な情報を提供するレイアウトになっています。',
        icon: 'tabler:users',
        href: '/homes/toC',
      },
      {
        title: 'toB向けトップページ',
        description:
          '複数のページで構成されるWebページのトップページとして最適！他企業とのつながりや、発信活動や実績などを提示することで、信用力を示しつつ別のページへのリンクへ誘導します。',
        icon: 'tabler:building',
        href: '/homes/toB',
      },
      {
        title: 'Mobile App風トップページ',
        description: `モバイルアプリなど、ユーザーが行なっているサービスの紹介をトップに据えた構成です。会社ではなく事業をアピールすることによって、他社との違いや理念を1ページで表現することができます。`,
        icon: 'tabler:device-mobile',
        href: '/homes/mobile-app',
      },
      {
        title: 'Portfolio風トップページ',
        description:
          '個人事業など小規模ビジネスをされているユーザー向けのページです。作品や理念をアピールすることで、顧客とのミスマッチを最小限に抑えるデジタルマーケティングを可能にします。',
        icon: 'tabler:brush',
        href: '/homes/personal',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Astro Framework',
        description:
          'Astroは、静的サイトの高速化とSEOの強化を目指すウェブ開発フレームワークです。モダンなツールチェーンの統合と部分的な再レンダリングなどの機能により、効率的かつ柔軟な開発が可能です。SEOに強く、ユーザー体験を向上させるために、静的サイトの生成に特化したこのフレームワークは、多くのウェブ開発者にとって強力なツールとなります。',
        icon: 'tabler:brand-astro',
      },
      {
        title: 'Firebase',
        description:
          'Firebaseは、モバイルおよびウェブアプリケーションの迅速な開発、安定した運用、柔軟な拡張を可能にするクラウドベースのプラットフォームです。リアルタイムデータベース、ユーザー認証、クラウドストレージ、ホスティング、クラウドファンクション、アナリティクス、通知など、多岐にわたるサービスを提供し、開発者がより少ない労力で高品質なアプリケーションを構築できるよう支援します。',
        icon: 'tabler:brand-firebase',
      },
      {
        title: 'Tailwind CSS',
        description:
          'Tailwind CSSは、ユーティリティファーストのアプローチにより、迅速かつ柔軟にデザインを実現できるCSSフレームワークです。一貫性のあるデザインシステム、カスタマイズの容易さ、レスポンシブデザインのサポートなど、多くの利点があります。これにより、開発者は生産性を向上させながら、高品質なデザインを効率的に構築できるようになります。',
        icon: 'tabler:brand-tailwind',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">ホームページ使用技術</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'NFCカード',
        description:
          'NFCカードは、近距離無線通信技術を利用してデータを高速かつ安全に交換するためのカード型デバイスです。支払い、交通機関の利用、アクセス管理、情報提供など、さまざまな用途で利用されています。利便性、迅速性、セキュリティ、耐久性など、多くの利点があるため、日常生活やビジネスにおいて非常に有用なツールです。',
        icon: 'tabler:nfc',
      },
      {
        title: 'Litlink',
        description:
          'lit.linkは、複数のリンクを一つのページに集約して提供することで、オンラインプレゼンスを向上させる便利なツールです。シンプルな設定、カスタマイズ性、統計情報の提供など、多くの利点があります。特にソーシャルメディアを活用する個人や企業にとっては、効果的なプロモーションツールとして非常に役立ちます。',
        icon: 'tabler:link',
      },
      {
        title: 'A-Frame',
        description:
          'A-Frameは、Web上で3DおよびVRコンテンツを作成するための強力で使いやすいフレームワークです。HTMLベースの直感的な構文、クロスプラットフォーム対応、カスタムコンポーネントによる拡張性、WebGLを基盤とした高性能なレンダリング、開発ツール、コミュニティのサポートなど、多くの利点があります。これにより、Web開発者は簡単にインタラクティブな3D体験を作成し、広く共有することができます。',
        icon: 'tabler:frame',
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1680626561464-42f3b07aa5db?q=80&w=2600&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">デジタル名刺使用技術</h3>
    </Fragment>
  </Content>

  <Content
    isReversed
    items={[
      {
        title: 'miibo',
        description:
          'miiboは、会話型AIを簡単かつ迅速に構築・運用できるプラットフォームです。プログラミングの知識がなくても直感的に使用でき、複数の大規模言語モデル（LLM）をカスタマイズ可能です。API連携やSlack、LINEなど多様なサービスとの統合が可能で、開発・運用コストを削減し、ユーザーにパーソナライズされた会話を提供します。多機能で柔軟なシナリオエディタやプロンプトエディタを備え、初心者からプロフェッショナルまで幅広く利用できます。',
        icon: 'tabler:robot',
      },
      {
        title: 'ChatGPT API',
        description:
          'ChatGPT API（特にGPT-4.0）は、OpenAIが提供する高精度な会話機能を持つAPIです。GPT-4.0は、自然で一貫した応答を生成し、多様なタスクに対応します。利用にはOpenAIのウェブサイトでAPIキーを取得し、REST API形式でリクエストを送ります。これにより、アプリケーションに高度な会話機能を簡単に追加できます。',
        icon: 'tabler:ai',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1626863905121-3b0c0ed7b94c?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">AIチャットボット使用技術</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Astroユーザーの声"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'プランを見る',
        href: '/pricing',
      },
    ]}
    title="あなたのビジネスに合ったプランを見つけましょう！"
    subtitle="ユーザーが抱えている問題は様々です。あなたに合ったプランを一緒に考えてみましょう！"
  />
</Layout>
