---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Portfolio', href: '#porfolio' },
        { text: 'Blog', href: '#blog' },
        { text: 'Github', href: 'https://github.com/onwidget' },
      ]}
      actions={[
        {
          text: 'オファーする',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="サラ・ジョンソン"
    tagline="個人ウェブデモ"
    actions={[{ variant: 'primary', text: 'オファーする', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      私はビジュアルストーリーを作成することに情熱を注いでいるグラフィックデザイナーです。<br />ニューヨーク大学デザイン学部の学位を持ち、5年間の経験を持っています。私はブランドとデザインに活力を注ぎ、概念を魅力的な現実に変えます。
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Dribbble',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'Behance',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      alt: 'カラフルな画像',
      loading: 'eager',
    }}
  >
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">私について</h2>
        私の創造的な旅へようこそ。私の仕事は、アイデアを生き生きとしたものにするという私のコミットメントの証です。各ピクセルが想像力のキャンバスにブラシストロークになります。
      <br />
        私は周囲の世界からインスピレーションを得ています。魅力的な小説のページから、タイポグラフィの複雑なディテール、または屋外の冒険中の自然の鮮やかな色彩まで。
      <p>もっと私の作品について知りたい方は、私をフォローしてください：</p>
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="職歴"
    items={[
      {
        title: 'グラフィックデザイナー <br /> <span class="font-normal">ABCデザインスタジオ、ニューヨーク、NY</span> <br /> <span class="text-sm font-normal">2021 - 現在</span>',
        description: `クライアントと協力してデザイン要件と目標を理解します。<br />ロゴ、カラーパレット、ブランドガイドラインを含むブランディングソリューションを開発します。<br />パンフレット、ポスター、デジタルアセットなどのマーケティング資料をデザインします。<br />ウェブサイトとアプリケーションのための視覚的に魅力的なユーザーインターフェースを作成します。`,
        icon: 'tabler:briefcase',
      },
      {
        title: 'ジュニアグラフィックデザイナー <br /> <span class="font-normal">XYZクリエイティブエージェンシー、ロサンゼルス、CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `シニアデザイナーを支援してデザインコンセプトとビジュアルアセットを作成します。<br />ブランドアイデンティティとマーケティング資料の開発に貢献します。<br />キャンペーン全体で一貫したデザインを保証するためにマーケティングチームと協力します。<br />さまざまなデザインソフトウェアとツールで実践的な経験を積みます。`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="教育"
    items={[
      {
        title: `グラフィックデザインの修士 <br /> <span class="font-normal">ニューヨーク大学デザイン学部</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `グラフィックデザインの学士 <br /> <span class="font-normal">ニューヨーク大学デザイン学部</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="スキル"
    subtitle="デザインを通じて想像力を現実に変える私の能力を発見してください。"
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'グラフィックデザイン',
        description: 'メッセージを効果的に伝える視覚的に魅力的なデザインを作成することに熟練しています。',
      },
      {
        title: 'ブランディングとアイデンティティ',
        description: 'ロゴやブランドガイドラインを含む一貫したブランドアイデンティティを開発することに熟練しています。',
      },
      {
        title: 'ユーザー中心のデザイン',
        description: 'ユーザーフレンドリーなインターフェースを作成し、ユーザーエクスペリエンスを最適化する経験があります。',
      },
      {
        title: 'Adobe Creative Suite',
        description: 'Photoshop、Illustrator、InDesignを使用して視覚要素を作成および編集することに熟練しています。',
      },
      {
        title: 'タイポグラフィ',
        description: 'デザインの美学を向上させるためにタイプフェースを選択し、操作することに熟練しています。',
      },
      {
        title: '色彩理論',
        description: '色を使用して感情を喚起し、視覚的な調和を向上させることに熟練しています。',
      },
      {
        title: '印刷およびデジタルデザイン',
        description: '印刷物とデジタルプラットフォームの両方のデザインに精通しています。',
      },
      {
        title: '細部への注意',
        description: 'すべてのデザイン作業で精度と品質を維持するために勤勉です。',
      },
      {
        title: '適応性',
        description: '新しいデザイントレンド、技術、クライアントの好みに迅速に適応します。',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="視覚的な物語を高める"
    subtitle="ピクセルを超えたデザインの旅に乗り出し、想像力の領域に入ります。情熱と創造性が融合して魅力的な視覚的な物語を形成する私のポートフォリオを探索してください。"
    isReversed
    items={[
      {
        title: '説明：',
        description: '技術革新を専門とするテックスタートアップ、Tech Innovatorsの包括的なブランドアイデンティティを開発しました。目標は、企業クライアントと技術愛好家の両方に共鳴する現代的でありながら親しみやすいイメージを伝えることでした。',
      },
      {
        title: '役割：',
        description: 'コンセプトから実行までのブランディングプロセス全体を主導しました。革新を象徴するダイナミックなロゴを作成し、鮮やかなカラーパレットを選択し、企業用ステーショナリー、ウェブサイトグラフィック、ソーシャルメディアアセットをデザインしました。',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWペfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'テックデザイン画像',
    }}
    callToAction={{
      text: 'プロジェクトに行く',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        プロジェクト1：<br /><span class="text-2xl">テックイノベーターのためのブランドアイデンティティ</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: '説明：',
        description: '芸術と音楽のフェスティバル「ArtWave Fusion」のための魅力的なイベントポスターをデザインしました。このフェスティバルは、視覚芸術と音楽ジャンルのシナジーを紹介することを目的としています。フェスティバルの創造的なテーマを視覚的に魅力的なポスターに変換しました。大胆なタイポグラフィ、鮮やかな色、抽象的な要素を使用して、芸術と音楽の融合を描きました。デザインがフェスティバルの活気ある雰囲気を捉えることを確実にしました。'
      }
    ]}
  >
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWペfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: '芸術と音楽のポスター画像',
    }}
    callToAction={{
      text: 'プロジェクトに行く',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        プロジェクト2：<br /><span class="text-2xl">芸術＆音楽フェスティバルのイベントポスター</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: '説明：',
        description: `エコ意識のあるファッションブランド、GreenVogueの電子商取引ウェブサイトを再設計しました。目的は、ブランドのオンラインプレゼンスを持続可能な倫理観と一致させ、ユーザーエクスペリエンスを向上させることでした。`,
      },
      {
        title: '役割：',
        description: `ブランドの価値観と顧客基盤を分析してデザイン方向を導きました。直感的なナビゲーションを備えた視覚的に魅力的なインターフェースを作成し、持続可能な素材を強調し、ユーザーフレンドリーなショッピング体験を統合しました。`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wペfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'ファッション電子商取引画像',
    }}
    callToAction={{
      text: 'プロジェクトに行く',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        プロジェクト3：<br /><span class="text-2xl">ファッションブランドのための電子商取引ウェブサイトの再設計</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="クライアントの証言"
    subtitle="私と一緒に働いたクライアントがどのような経験をしたかを発見してください。"
    testimonials={[
      {
        testimonial: `彼女は私たちの漠然としたコンセプトを視覚的な傑作に変え、私たちの目標と完全に一致させました。彼女の細部への注意とアイデアを魅力的なビジュアルに翻訳する能力は、私たちの期待を超えました。`,
        name: 'マーク・トンプソン',
        job: 'クリエイティブディレクター',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'マーク・トンプソンの画像',
        },
      },
      {
        testimonial: `彼女は創造的な洗練さで私たちのブランドアイデンティティを変革し、すべての要素で私たちの本質を捉えました。彼女の献身と才能は彼女の仕事を通じて真に輝いています。`,
        name: 'エミリー・マルティネス',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'エミリー・マルティネスの画像',
        },
      },
      {
        testimonial: `彼女は感情や物語を伝える非凡な能力を持っています。彼女は私たちのNGOのために、私たちの原因を代表するだけでなく共感を呼び起こすロゴを作成しました。彼女のプロフェッショナリズムとコミットメントは、彼女を特別なカリバーのデザイナーにしています。`,
        name: 'ローラ・シモンズ',
        job: 'NGOの創設者',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'ローラ・シモンズの画像',
        },
      },
      {
        testimonial: `私たちはサラにウェブサイトのユーザーインターフェースの刷新を任せ、その結果は驚異的でした。彼女の直感的なデザインセンスがユーザーエクスペリエンスを向上させ、エンゲージメントの大幅な増加につながりました。彼女は美学と機能性のシナジーを真に理解しているデザイナーです。`,
        name: 'アレックス・フォスター',
        job: 'ウェブサービスディレクター',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'アレックス・フォスターの画像',
        },
      },
      {
        testimonial: `彼女は私たちのビジョンを想像を超えて高め、ブランドの本質を捉えてデザインに変換する能力は本当に顕著です。彼女との作業は刺激的な旅でした。`,
        name: 'ジェシカ・コリンズ',
        job: 'プロダクトマネージャー',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaGooto1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'ジェシカ・コリンズの画像',
        },
      },
      {
        testimonial: `彼女はコンセプトを魅力的なビジュアルに変換する非凡な能力を持っています。彼女は私たちのイベントポスターのアイデアを視覚的な傑作に変え、私たちのフェスティバルの本質を完璧に捉えました。サラの献身、創造性、期待を超える能力は、どんなプロジェクトにも欠かせない貴重な資産です。`,
        name: 'マイケル・カーター',
        job: 'イベントコーディネーター',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'マイケル・カーターの画像',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="一緒に創造しましょう"
    subtitle="あなたのビジョンを魅力的なデザインに変える準備はできていますか？"
    actions={[
      {
        variant: 'primary',
        text: 'オファーする',
        href: '/',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="私のブログで洞察に満ちた記事を探索してください"
    information={`デザインの知恵と創造的なインスピレーションの領域に飛び込み、貴重な洞察、実用的なヒント、そして創造的な旅を豊かにする魅力的な物語を発見してください。`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
